@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .exploding-ball {
    @apply w-10 h-10 bg-gradient-to-r from-black to-zinc-900 rounded-full relative;
    animation: expand 2s infinite ease-in-out;
  }

  @keyframes expand {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(10);
      opacity: 0.5;
    }
  }
}

@layer utilities {
  .text-stroke {
      -webkit-text-stroke: 0.5px rgb(193, 244, 193); /* Adjust the stroke width and color here */
      color: transparent;
  }
}
